---
title: Work · Terry Wang
layout: default
bodyClass: portfolio
---

{% include header.html %}

<main class="p-container">

  <div class="lang">
    <a href="#" class="current">EN</a>
    <a href="/p/zh/">中文</a>
  </div>

  <section class="page-banner">
    <h1 class="page-title">Career</h1>
  </section>

  <div class="p-intro">

    <p>My career as a designer started in 2006 when I made some CD cover and logo design in college. I joined SAP after graduation and grew into a UX Designer. During my 5 years at SAP, I learned all the basics of Design and software development process in general. It was a great ride of learning and growing.</p>

    <p>I've worked for different kinds of companies since then. Some are multi-national companies like SAP, Amazon and LinkedIn. Some are startups like alive.cn. Some are local private companies like Wuage. I found different companies have different expectations for the role Designer. My ideal scope for the role is to be able to think through the problem, know who are the users and what goals they're trying to achieve and then come up with the best solution we can offer. At last, if I could code the UI & interaction, it would be great.</p>

    <p>My passion lies in creating good software. In all the teams I stayed, I managed to setup a working model that allows me to stand at the intersection of product management and design. I am grateful that all the partners had learned to appreciate my work in the end.</p>

    <p>It all comes down to the definition of design. That always take me back to the Steve Jobs quote - "<em>Design is not just what it looks like and feels like. Design is how it works.</em>”</p>

    <p>Over the years, I've developed some <a href="/principles/">design principles</a> and been telling myself to stick to them. The measurement I use for good design is the fitness between the form and its context.</p>
    <p>On top of that, great products should have personalities.</p>
  </div>

  <section>
    <h2>Selected work</h2>

    <div class="work">
      <a href="/p/en/linkedin-students"><strong><u>LinkedIn for Students</u></strong> better communicates core values to college students through thoughtful reduction.</a>

      <a href="/p/en/steel-shop"><strong><u>Mini Steel Shop</u></strong> helps steel traders to setup WeChat Mini-program shops with zero technical skill.</a>

      <a href="/p/en/vf"><strong><u>VendorFlex Mobile</u></strong> runs on handheld devices and boosts the productivity of the Amazon warehouse associates.</a>

      <a href="https://general-1258275882.cos.ap-chengdu.myqcloud.com/portfolio/simple_and_powerful_v1.pdf" target="_blank"><strong><u>Simple and Powerful</u></strong> talks about how to balance simplicity and power when designing software.</a>

      <a href="https://general-1258275882.cos.ap-chengdu.myqcloud.com/portfolio/table-and-graph-design.pdf" target="_blank"><strong><u>Table and graph design</u></strong> summarizes statistical knowledge and design principles of data table and graph, for effective communication.</a>
    </div>
  </section>

</main>

{% include footer.html %}
