---
title: Terry Wang
layout: default
---

<main class="container">
  {% for post in paginator.posts %}
      <a class="post plain" href="{{ post.url }}">
        <div class="weak text-center text-small">{{ post.date | date: "%Y-%m-%d" }}</div>
        <h1 class="text-center">{{ post.title }}</h1>

        <p>{{ post.content | strip_html | truncate: 140 }}</p>
        <div class="text-center">
          <span class="button">继续阅读</span>
        </div>
      </a>
  {% endfor %}
</main>

<div class="pagination">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="button">查看更多文章 &raquo;</a>
  {% endif %}
</div>
