@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff2') format('woff2'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold-webfont.eot');
    src: url('Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Bold-webfont.woff2') format('woff2'),
         url('Roboto-Bold-webfont.woff') format('woff'),
         url('Roboto-Bold-webfont.ttf') format('truetype'),
         url('Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: bold;
    font-style: normal;

}


body {
  /*font-family: -apple-system,BlinkMacSystemFont,"PingFang SC",Helvetica,Tahoma,Arial,"Microsoft YaHei",微软雅黑,黑体,Heiti,sans-serif,SimSun,宋体,serif;
  font-size: 15px;
  line-height: 1.7;*/
  /*text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
  font-size: 14px;
  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

main {
  min-height: 600px;
}

.container {
  width: 90%;
  max-width: 620px;
  margin: 0 auto;
}

a {
  color: #0095c5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #bd00bd;
}

p {
  margin-bottom: 1.5em;
}

p.note {
  background: #eee;
  font-size: 13px;
  padding: 24px;
  color: #666;
  border-radius: 4px;
}

li {
  margin-bottom: 6px;
}

h1, h2 {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  margin: 48px 0 0 0;
  color: #333;
}

h1 {
  font-size: 51px;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 30px;
  letter-spacing: -1px;
}

.weak {
	color: #7b7f83;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #666;
  padding: 24px;
  margin-top: 48px;
  border-top: 1px solid #eee;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 32px 280px;
}

img {
  max-width: 100%;
}


