:root {
  --text-color: #333;
  --text-weak-color: #959595;
  --link-color: #db6e4d;
  --link-visited-color: #d28ee9;

  --body-background-color: #f5f5f5;

}

body {
  font-size: 13px;
  font-family: Verdana, system-ui, sans-serif;
  line-height: 1.74;
  color: var(--text-color);
  background-color: var(--body-background-color);
  padding: 32px 64px;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

header, .container {
  width: 30rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a, a:active {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

.weak {
  color: var(--text-weak-color);
}

.avatar {
  border-radius: 4px;
}

@media screen and (min-width: 540px) { 
  .me {
    position: fixed;
    left: 0;
    top: 0;
    padding: 300px 50px 0 50px;
    width: 180px;
    height: 100%;
  }

  main {
    padding: 10px 40px 10px 340px;
  }

  dd {
    margin-bottom: 1em;
    font-size: 90%;
    color: var(--text-weak-color);
  } 

}