body {
  font-size: 15px;
  font-family: system-ui, 'Chinese Quote', 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji';
  line-height: 1.74;
  color: #333;
  background-color: #fff;
  padding: 0;
  margin: 0;
  letter-spacing: 0.05em;
}

main {
  min-height: 600px;
}

.container {
  width: 90%;
  max-width: 620px;
  margin: 0 auto;
}

article {
  text-align: justify;
}

a {
  color: #0095c5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #bd00bd;
}

p {
  margin-bottom: 1.5em;
}

p.note {
  background: #eee;
  font-size: 13px;
  padding: 24px;
  color: #666;
  border-radius: 4px;
}

li {
  margin-bottom: 6px;
}

h1, h2 {
  margin: 48px 0 0 0;
  color: #333;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

.weak {
	color: #7b7f83;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #666;
  padding: 24px;
  margin-top: 48px;
  border-top: 1px solid #eee;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 32px 280px;
}

img {
  max-width: 100%;
}

blockquote {
  border-left: 7px solid #eee;
  margin-left: 12px;
  padding: 4px 0 4px 24px;
  color: #666;
}

video {
  max-width: 100%;
}
