<!doctype html>
<html lang="zh-CN">
  <head>
    {% assign head_title = page.title | default: site.title %}
    {% assign head_desc = "Terry's Home" %}
    {% assign head_og_url = site.url %}
    {% assign head_og_title = "Terry Wang" %}
    {% assign head_og_desc = "Terry Wang" %}
    {% assign head_og_image = site.url | append: "/apple-touch-icon.png" %}
    {% if page.bodyClass == 'music' %}{% assign head_music_css = true %}{% endif %}
    {% include head.html %}
  </head>
  <body class="site-body{% if page.bodyClass %} {{ page.bodyClass }}{% endif %}">
    
    {{ content }}
    
  </body>
</html>
